body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    /* green, for later  */
    background-color: #4ea209 !important;
    /* background-color: #5dbb63 !important; */
    /* test blue color */
    /* background-color: #4C8ECE !important; */
    color: #ffffff !important;
    /* 
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Borel', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Noto Sans Tai Viet', sans-serif;
    font-family: 'Oswald', sans-serif; */
}

#cufo {
    font-size: 4rem;
    font-weight: 300;
    font-family: 'Barlow Condensed', sans-serif;

}

#h2 {
    font-size: 1rem;
    letter-spacing: .1rem;
}

p {
    font-size: .9rem;
    font-style: italic;
    font-weight: 50 !important;
    font-weight: lighter;

}

@media(min-width:768px) {

    /* for 768 and up */
    #cufo {
        font-size: 6.5rem;
    }

    #h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.2rem;
    }
}

.text-center {
    margin-top: 0rem !important;
}